<link href="~/Content/ChatStyles.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="~/Scripts/CompanyListings/CompanyListingsFunctions.js"></script>

@{
    ViewBag.Title = "ShowCompany";
}

<h2 id="CompanyNameDisplay">@ViewBag.CompanyName</h2>

<br />
<p>@ViewBag.CompanyName Email: @ViewBag.CompanyInfo.email</p>
<br />
<p>@ViewBag.CompanyName Phone Number: @ViewBag.CompanyInfo.phoneNumber</p>
<br />
<p>@ViewBag.CompanyName can be found at these locations:</p>
<br />
@foreach (string location in ViewBag.CompanyInfo.locations)
{
    <p style="padding-left:4em;">@location</p>
    <br />
}

<div style="height:100px">
    <h4>Start a conversation with @ViewBag.CompanyName</h4>
    <div style="width:400px; float:left">
        <textarea class="messagetextarea" id="textUserMessage" placeholder="Enter your message here." rows="3"></textarea>
    </div>
    <div style="float:left">
        <button class="sendbutton" id="SendMessageButton">Send</button>
    </div>
</div>
<br /><br />

<div id="WriteReviewArea" style="height:100px;">
    <h4>Write a review for @ViewBag.CompanyName</h4>
    <div>
        <select id="starselection" style="color:black;">
            <option value="0" style="color:black;">0 stars</option>
            <option value="1" style="color:black;">1 star</option>
            <option value="2" style="color:black;">2 stars</option>
            <option value="3" style="color:black;">3 stars</option>
            <option value="4" style="color:black;">4 stars</option>
            <option value="5" style="color:black;" selected="selected">5 stars</option>
        </select>
    </div>
    <div style="width:400px; float:left">
        <textarea class="messagetextarea" id="reviewtextarea" placeholder="Enter your review here." rows="2"></textarea>
    </div>
    <div>
        <button class="sendbutton" id="SumbitReviewButton">Submit</button>
    </div>
</div>

<br />

<div id="ViewReviewsArea">
    <h4>Customer written reviews for @ViewBag.CompanyName</h4>
    @{ 
        if(ViewBag.CompanyReviews.Count == 0)
        {
            <h5>Be the first to write a review for @ViewBag.CompanyName</h5>
        }
        else
        {
            foreach(Messages.DataTypes.Database.CompanyReview.CustomerReview review in ViewBag.CompanyReviews)
            {
                <div style="height:150px">
                    @{ 
                        string reviewDate = (new DateTime(1970, 1, 1, 0, 0, 0, System.DateTimeKind.Utc)).AddSeconds(review.getTimestsamp()).ToString();
                    }
                    <p style="color:burlywood">@review.getUsername() gave @review.getCompanyName() @review.getStars()/5 stars on @reviewDate</p>
                    <p>@review.getReview()</p>
                </div>
            }
        }
    }
</div>