<!--
    This is the login page. 
-->

@{
    ViewBag.Title = "Log In";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("LogIn", "Authentication"))
{
    <p>@ViewBag.Message</p>
    <br />
    <p>Username:</p>
    @Html.TextBox("textUsername") <br/> <br/>
    <p>Password:</p>
    @Html.TextBox("textPassword") <br/> <br/>
    <input type="submit" value="Log In" /><br/><br />

    <p>Dont have an account ? </p>

    @Html.ActionLink("Create One", "CreateAccount", "Authentication")
}